registry=https://registry.npmjs.org/
package-lock=false
audit=false
fund=false
optional=false
timeout=60000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
target_platform=linux
target_arch=x64
target_libc=glibc
disturl=https://nodejs.org/dist
runtime=node
target=22.17.1
build_from_source=false
legacy-peer-deps=true
